$font-stack: 'Pontano Sans', sans-serif;
$primary-color: #192a56;
$font-color: #EEE;
$primary-light-color: #273c75;
$secondary-color: #273c75;
$highlight-color: #00a8ff;
$button-color: #9c88ff;
$button-secondary-color: #7f8fa6;
$background-color: #151617;
$grid__bp-md: 1900;
$grid__cols: 2;

body  {
  font-family: $font-stack;
  background-color: $background-color;
  color: $font-color;
}

.viz {
  width: 100vh;
  height: 60vh;
  margin-bottom: 30vh;
}

.second   {
  height: 20vh;
}

.container   {
  max-width: $grid__bp-md * 1px;
  margin: 0 auto;
  text-align: center;
  width: 100vh;
  height: 90vh;

  &--fluid {
    margin: 0;
    max-width: 100%;
    text-align: center;
  }

  &__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
}

@for $i from 1 through $grid__cols {
  .col-#{$i} {
    flex-basis: (100 / ($grid__cols / $i) ) * 1%;
  }
}

@media screen and (min-width: $grid__bp-md * 1px) {
  @for $i from 1 through $grid__cols {
    &__col-md-#{$i} {
      flex-basis: (100 / ($grid__cols / $i) ) * 1%;
    }
  }
}

@mixin create-mq($breakpoint) {
  @if($breakpoint == 0) {
    @content;
  } @else {
    @media screen and (min-width: $breakpoint *1px) {
      @content;
    }
  }
}

.dropdown-container {
  width: 100%;
  height: 100%;
}

.dropdown-list  {
  height: 60vh;
  margin-left: 20px;
  margin-right: 20px;
  // border: 1px solid rgba(0,0,0,.125);
  // border-radius: .25rem;

  ul  {
    list-style-type: none;
    overflow:hidden;
    overflow-y:scroll;
    text-align: left;
    height: 40vh;
    width: 200px;
    .list-item  {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 180px;
      vertical-align: middle;
      text-align: left;

      .label-text {
        width: 100px;
        margin-left: 20px;
        display: inline-block;
      }

      input {
        margin-left: 10px;
        margin-right: 10px;
      }

      .cbx   {
        display: none;
      }

      .source-check {
        text-align: right;
        vertical-align: middle;
        position: relative;
        // display: block;
        // width: 40px;
        // height: 20px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transform: translate3d(0,0,0);
          &:before  {
            content: "";
            position: relative;
            top: 3px;
            left: 3px;
            width: 34px;
            height: 14px;
            display: block;
            background: gray;
            border-radius: 8px;
            transition: background .2s ease;
            margin-right: 0;
          }
        }

        .slider  {
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          display: block;
          background: white;
          border-radius: 10px;
          box-shadow: 0 3px 8px rgba(gray,.5);
          transition: all .2s ease;
            &:before  {
            content: "";
            position: absolute;
            display: block;
            margin: -18px;
            width: 56px;
            height: 56px;
            background: rgba($primary-color,.5);
            border-radius: 50%;
            transform: scale(0);
            opacity: 1;
            pointer-events: none;
            }
          }
      .cbx:checked + .source-check  {
        &:before  {
          background: #dcdde1;
        }
        .slider  {
          background: $primary-light-color;
          transform: translateX(20px);
          transition: all .2s cubic-bezier(.8,.4,.3,1.25), background .15s ease;
          box-shadow: 0 3px 8px rgba($primary-light-color,.2);

          &:before  {
            transform: scale(1);
            opacity: 0;
            transition: all .4s ease;
          }
        }
      }
    }
  }

  ul::-webkit-scrollbar-thumb {
      background-color: $primary-color;
  }

  ul::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
  }

  input {
    margin-top: 20px;
    border-radius: 5px;
  }

  .reset-btn  {
    margin: auto;
    width: 100px;
    margin-bottom: 20px;
  }
}

.dropdown-button  {
  margin-top: 10px;
  margin-bottom: 5px;
}

.my-btn {
  -moz-box-shadow:inset 0px -3px 7px 0px $button-color;
	-webkit-box-shadow:inset 0px -3px 7px 0px $button-color;
	box-shadow:inset 0px -3px 7px 0px $button-color;
	background-color:$button-color;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid $button-color;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.my-btn:hover {
  background-color:#8c7ae6;
}

.my-btn:active  {
  position:relative;
  top:1px;
}


.logo-img {
  float: right;
}

.my-btn:focus {
  outline: 0;
}

.dropdown-search  {
  // border: 1px solid rgba(0,0,0,.125);
  // border-radius: .25rem;
  padding: 5px;
}

.dropdown-search:focus  {
  outline: none;
}

.dropdown-label {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.highlighted  {
  outline: 5px solid $highlight-color;
}

#reset-zoom  {
  margin-top: 10px;
  margin-bottom: 10px;
}

#reset-zoom:active {
  top: 1px;
}

// .container__col-md-9  {
//   width: 900px;
//   height: 400px;
//
//
//
//   // border: 1rem solid inset;
// }

svg {
  vertical-align: center;
  margin: auto;
  margin-top: 30px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

h1 {
  font-size: 32pt;
  font-weight: bold;
}

h1, h2, h3 {
  font-family: $font-stack;
  font-weight: bold;
  // color: $primary-color;
}

h2 {
  // color: $secondary-color;
  font-size: 34pt;
}



.c  {
  clear:both;
}
.node {
    stroke-width: 1.5px;
  }

  div.tooltip {

      h3 {
        font-size: 24pt;
      }

      a   {
        font-size: 16pt;
        color: $font-color;
      }
      text-align: center;
      font: 12pt sans-serif;
  }
