$font-stack: 'Pontano Sans', sans-serif;
$primary-color: #2f3640;
$secondary-color: #273c75;
$highlight-color: #00a8ff;


// .dropdown-container  {
//   width: 200px;
//   margin-right: 0;
// }
// ul  {
//   li  {
//     width: 200px;
//     margin: 0;
//   }
// }

.dropdown-list  {
  margin-top: 20px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;

  ul  {
    list-style-type: none;
    overflow:hidden;
    overflow-y:scroll;
    height:500px;
    // width:18%;
  }

  input {
    margin-top: 15px;
  }

}

#content   {
  margin-left: 15px;
  margin-right: 15px;
}

.separator  {
  height: 50px;
}

.highlighted  {
  outline: 5px solid $highlight-color;
}

.col  {
  text-align: center;
  vertical-align: center;
}

#reset-zoom  {
  z-index: 9999;
  position: absolute;
  top: 10px;
  left: 20px;
  float: left;
}

#container  {
  vertical-align: center;
  margin: auto;
  margin-top: 30px;
  height: 600px;
  width: 1200px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  // border: 1rem solid inset;
}

h1 {
  font-size: 40pt;
}

h1, h2, h3 {
  font-family: $font-stack;
  font-weight: bold;
  color: $primary-color;
}

h2 {
  color: $secondary-color;
  font-size: 34pt;
}



.c  {
  clear:both;
}
.node {
    stroke-width: 1.5px;
  }

  div.tooltip {
    padding-left: 15px;
    padding-right: 300px;
    width: 100%;

      h3 {
        font-size: 28pt;
      }

      a   {
        font-size: 16pt;
        color: $secondary-color;
      }

      // p   {
      //   max-width: 200px;
      // }

      // float: right;
      // clear: both;
      text-align: center;
      // width: 200px;
      // height: 200px;
      // padding: 7px;
      font: 12pt sans-serif;
      // background: white;
      // border: 1px solid rgba(0,0,0,.125);
      // border-radius: .25rem;
  }

  .svg-container {
    // display: inline-block;
    // position: relative;
    // width: 100%;
    // height: 1080px;
    // padding-bottom: 50%;
  //   vertical-align: top;
  //   overflow: hidden;
  }
//
// .svg-content {
//     display: inline-block;
//     position: absolute;
//     top: 0;
//     left: 0;
// }
