$font-stack: 'Pontano Sans', sans-serif;
$primary-color: #2f3640;
$secondary-color: #273c75;
$highlight-color: #00a8ff;

.separator  {
  height: 50px;
}

.highlighted  {
  outline: 5px solid $highlight-color;
}

.col  {
  text-align: center;
  vertical-align: center;
}

#reset-zoom  {
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}

#container  {
  vertical-align: center;
  margin: auto;
  margin-top: 30px;
  height: 600px;
  width: 1000px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  // border: 1rem solid inset;
}

h1 {
  font-size: 40pt;
}

h1, h2 {
  font-family: $font-stack;
  font-weight: bold;
  color: $primary-color;
}

h2 {
  color: $secondary-color;
}

.c  {
  clear:both;
}
.node {
    stroke-width: 1.5px;
  }

  div.tooltip {

    width: 100%;
      a   {
        color: $secondary-color;
      }

      // p   {
      //   max-width: 200px;
      // }

      // float: right;
      // clear: both;
      text-align: center;
      // width: 200px;
      // height: 200px;
      // padding: 7px;
      font: 12pt sans-serif;
      // background: white;
      // border: 1px solid rgba(0,0,0,.125);
      // border-radius: .25rem;
  }

  .svg-container {
    // display: inline-block;
    // position: relative;
    // width: 100%;
    // height: 1080px;
    // padding-bottom: 50%;
  //   vertical-align: top;
  //   overflow: hidden;
  }
//
// .svg-content {
//     display: inline-block;
//     position: absolute;
//     top: 0;
//     left: 0;
// }
